# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven EVENT

on:
  push:
    branches: [ event ]
  pull_request:
    branches: [ event ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Upload JAR artifact
      uses: actions/upload-artifact@v2.2.0
      with:
        name: Spigot Plugin JAR for Events
        path: /home/runner/work/MinecraftRoboticsCompetition/MinecraftRoboticsCompetition/target/**.jar
